a {
  -webkit-tap-highlight-color: transparent;
}

a:active {
  background-color: transparent;
}

a:focus {
  outline: none;
}
.header {
  text-align: center;
  background-color: #48cae4;
  padding: 4px 16px;
  height: 200px;
/*  box-shadow: 5px 5px 5px rgba(0, 143, 172, 0.5), 5px 5px 5px rgba(33, 172, 93, 0.25),  5px 5px 5px rgba(147, 172, 33, 0.25);*/
  position:relative;
  top: -10px;
  left: -8px;
  width:100%;
  color: linear-gradient( top, white blue);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.header > h1 {
  color:#bef5ff;
  font-family:sans-serif;
  font-weight:900;
  letter-spacing: -0.1px;
  align-self: flex-start;
  font-size: 55px;
}
body {
  background-color:#90e0ef;
  overflow-x: hidden;
}

.navbar {
  background-color:#00b4d8;
  position: sticky;
  top: 0;
  padding: 5px 10px;
  width:100%;
  height: 50px;
  margin: -10px;
  display: flex;
  justify-content: center;

}
.navbar a, button {
  background-color:#90e0ef;
  border-radius: 4px;
  border-width: 0px;
  padding: 5px;
  margin: 5px;
  transition: 0.2s ease-in-out;
  flex-grow: 1;
}
.navbar button:hover {
  background-color: aqua;
  transform: scale(1.05);
}
.navbar >button:active {
  background-color: rgba(0,255,255, 0.4);

}
